.form {

	&__page {
		padding: 8px;
	}

	&__wrap {
		width: 384px;
		padding: 40px;
		background: $light1;
		border-radius: 5px;
		box-shadow: $shadow3;
		position: relative;
	}

	&__title {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.5em;
		margin: 0 0 24px 0;
		color: $dark1;
	}

	&__name {
		font-size: 14px;
		color: $dark3;
		margin-bottom: 16px;
		margin-top: 0;
	}

	&__tabs {
		display: flex;
		justify-content: space-between;
	}

	&__tab {
		width: 64px;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		border: $border-dark;
		transition: $transition;

		&--phone .form__wtab {
			background: linear-gradient(#333, #1A1A1A);
		}

		&--mail .form__wtab {
			background: linear-gradient(#4D4D4D, #333333);
		}

		&--telegram .form__wtab {
			background: linear-gradient(#65AEE6, #5A9ACC);
		}

		&--whatsapp .form__wtab {
			background: linear-gradient(#65B362, #559954);
		}

		&--active {
			background: rgba(0,0,0, .05);
			border: 1px solid rgba(0,0,0, .4);
			box-shadow: $shadow2;

		}

	}

	&__wtab {
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		box-shadow: $shadow3;
	}

	&__items {
		position: relative;
		width: 100%;
		height: 104px;
		overflow: hidden;
		margin-top: 32px;
	}

	&__item {
		position: absolute;
		left: 0;
		top: -40px;
		opacity: 0;
		width: 100%;
		transition: $transition;
		&--active {
			top: 0;
			opacity: 1;
		}

	}

	&__input {
		width: 100%;
		height: 64px;
		border: none;
		padding-left: 24px;
		border-radius: 5px;
		background: $light2;
		box-shadow: inset $shadow2;
	}

	&__btn {
		width: 100%;
		margin-top: 32px;
	}

	&__done {
		position: absolute;
		top: 0px;
		left: 40px;
		width: 304px;
		background: $light2;
		box-shadow: $shadow4;
		z-index: 4;
		display: flex;
		padding: 0 16px;
		border-radius: 5px;
		align-items: center;
		overflow: hidden;
		height: 0;
		transition: $transition;

		&--active {
			top: 40px;
			height: 72px;
		}

	}

	&__dicon {
		background: linear-gradient(#65B362, #559954);
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		box-shadow: $shadow4;
		flex-shrink: 0;
		margin-right: 16px;
	}

	&__dtext {
		line-height: 1.5em;
		color: $dark1;
	}

}


@media only screen and (max-width : 720px) {

	.form {

		&__page {
			width: 100%;
		}

		&__wrap {
			width: 100%;
		}

		&__content {
			margin: 0 auto;
			width: 304px;
		}

		&__done {
			left: calc(50% - 152px);
		}

	}

}

@media only screen and (max-width : 416px) {

	.form {

		&__wrap {
			padding: 24px;
		}

		&__content {
			width: auto;
		}

		&__title {
			font-size: 18px;
		}

		&__tab {
			width: 48px;
			height: 48px;
			border: none;
		}

		&__btn {
			margin-top: 24px;
		}

	}

}