.sales {

	&__page {
		padding: 8px;
		height: auto;
		flex-grow: 1;
	}

	&__wrap {
		background: $light2;
		border-radius: 5px;
		box-shadow: $shadow1;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	&__t1 {
		font-size: 16px;
		color: $dark3;
	}

	&__t2 {
		font-size: 24px;
		color: $dark2;
		margin: 40px 0;

		span {
			margin-left: 16px;
			padding: 16px;
			background: $link;
			border-radius: 5px;
			box-shadow: inset $shadow1;
			color: $light1;
			text-shadow: $shadow1;
		}

	}

	&__t3 {
		color: $dark1;
		font-size: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__arrow {
		opacity: .1;
		margin-left: 8px;
	}

}


@media only screen and (max-width : 1100px) {

	.sales {

		&__wrap {
			letter-spacing: 0;
		}

		&__t1 {
			font-size: 14px;
		}

		&__t2 {
			font-size: 20px;
			margin: 32px 0;

			span {
				padding: 0;
				margin-left: 0;
				background: none;
				box-shadow: none;
				color: $link;
			}

		}

		&__t3 {
			font-size: 30px;
		}

	}

}


@media only screen and (max-width : 720px) {

	.sales {

		&__wrap {
			padding: 24px 0;
		}

		&__t2 {
			margin: 20px 0;
		}

		&__arrow {
			transform: rotate(90deg);
		}

	}

}